@import url('./__title/auth__title.css');
@import url('./__form/auth__form.css');
@import url('./__input/auth__input.css');
@import url('./__textfield/auth__textfield.css');
@import url('./__button/auth__button.css');
@import url('./__text/auth__text.css');
@import url('./__link/auth__link.css');

.auth {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}