.popup__close{
  position: absolute;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  background-image: url(../../../images/Close_Icon.svg);
  background-color: rgb(0, 0, 0, .0);
  background-size: cover;
  border: 0;
  padding: 0;
  outline: none;
  background-position: center;
  transition: visibility .3s linear, opacity .3s linear;
}
@media screen and (max-width: 767px){
  .popup__close{
    background-image: url(../../../images/Close_Icon_min.svg);
    width: 26px;
    height: 26px;
    right: 0;
  }
}
.popup__close:hover{
  opacity: .6;
  cursor: pointer;
}
