.footer{
max-width: 880px;
width: calc(100% - 19px);
padding-bottom: 60px;
margin: 0 auto 0;
}
@media screen and (max-width: 936px){
  .footer{
    margin: 0 19px 0;
  }
}
@media screen and (max-width: 767px){
  .footer{
    padding-bottom: 36px;
  }
}
