.profile__avatar_button {
position:absolute;
display: none;
width: 25px;
height: 25px;
left: 10%;
top: 33%;
box-sizing: border-box;
}

@media screen and (max-width: 767px){
    .profile__avatar_button{
        top: 28%;
        left: 50%;
    }
  }
