.form__submit{
background-color: black;
width: 100%;
padding: 0;
border: 0;
margin: 0 auto;
background-size: cover;
transition: .4s;
margin-top: 48px;
font-size: 18px;
line-height: 50px;
color: #FFFFFF;
}
@media screen and (max-width: 767px){
  .form__submit{
    line-height: 46px;
    margin-top: 45px;
    font-size: 14px;
  }
}
.form__submit:hover{
  opacity: .8;
  cursor: pointer;
}
