.element__remove{
  position: absolute;
  display: flex;
  top: 18px;
  right: 15px;
  background-image: url(../../../images/Trash.svg);
  background-color:  rgb(255,255,255,.1);
  background-size: cover;
  border: 0;
  padding: 0;
  width: 18px;
  height: 19.3px;
  transition: .4s;
  align-self: flex-end;
  z-index: 1;
}
.element__remove:hover{
opacity: .6;
cursor: pointer;
}
